.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-width: 1px;
  border-style: none;
}
.root:focus-within {
  outline: none;
}
.root___focusVisibleWithin {
  outline: none;
}
.trigger {
  position: relative;
  display: flex;
  box-shadow: none;
  border-radius: 2px;
  padding: 6px 4px 6px 7px;
  margin: 0px;
  border: 1px solid #d3d3d300;
}
.trigger > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.trigger > :global(.__wab_flex-container) > *,
.trigger > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.trigger > :global(.__wab_flex-container) > picture > img,
.trigger > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.triggerisOpen {
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px #4597f7;
  border-radius: 2px;
  padding: 6px 4px 6px 7px;
  margin: 0px;
  border: 1px solid #4597f7;
}
.triggerisOpen > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.triggerisOpen > :global(.__wab_flex-container) > *,
.triggerisOpen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.triggerisOpen > :global(.__wab_flex-container) > picture > img,
.triggerisOpen > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
  margin-top: 0px;
}
.root:hover .trigger {
  background: #ffffff;
  border-color: #e6e6e6;
}
.root:hover .trigger > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.rootisOpen:hover .triggerisOpen {
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px #4597f7;
  border-radius: 2px;
  padding: 6px 4px 6px 7px;
  margin: 0px;
  border: 1px solid #4597f7;
}
.rootisOpen:hover .triggerisOpen > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootisOpen:hover .triggerisOpen > :global(.__wab_flex-container) > *,
.rootisOpen:hover .triggerisOpen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootisOpen:hover .triggerisOpen > :global(.__wab_flex-container) > picture > img,
.rootisOpen:hover .triggerisOpen > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
  margin-top: 0px;
}
.root:focus-within .trigger {
  box-shadow: 0px 0px 0px 1px #4597f7;
  outline: none;
  border-color: #4597f7;
}
.root .trigger___focusVisibleWithin {
  box-shadow: 0px 0px 0px 1px #4597f7;
  outline: none;
  border-color: #4597f7;
}
.root:active .trigger {
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px #4597f7;
  padding: 6px 4px 6px 7px;
  margin: 0px;
  border: 1px solid #4597f7;
}
.root:active .trigger > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root:active .trigger > :global(.__wab_flex-container) > *,
.root:active .trigger > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root:active .trigger > :global(.__wab_flex-container) > picture > img,
.root:active .trigger > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
  margin-top: 0px;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.root:focus-within .contentContainer {
  outline: none;
}
.slotTargetSelectedContent {
  white-space: pre;
  font-size: 11px;
}
.slotTargetSelectedContent > :global(.__wab_text),
.slotTargetSelectedContent > :global(.__wab_slot-string-wrapper),
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetSelectedContent > *,
.slotTargetSelectedContent > :global(.__wab_slot) > *,
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetSelectedContent > picture > img,
.slotTargetSelectedContent > :global(.__wab_slot) > picture > img,
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > picture > img {
  overflow: hidden;
}
.root:focus-within .slotTargetSelectedContent > *,
.root:focus-within .slotTargetSelectedContent > :global(.__wab_slot) > *,
.root:focus-within .slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > *,
.root:focus-within .slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > *,
.root:focus-within .slotTargetSelectedContent > picture > img,
.root:focus-within .slotTargetSelectedContent > :global(.__wab_slot) > picture > img,
.root:focus-within .slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.slotTargetPlaceholder {
  white-space: pre;
  color: #333333;
  font-size: 11px;
  user-select: none;
}
.slotTargetPlaceholder > :global(.__wab_text),
.slotTargetPlaceholder > :global(.__wab_slot-string-wrapper),
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetPlaceholder > *,
.slotTargetPlaceholder > :global(.__wab_slot) > *,
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetPlaceholder > picture > img,
.slotTargetPlaceholder > :global(.__wab_slot) > picture > img,
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > picture > img {
  overflow: hidden;
}
.root:focus-within .slotTargetPlaceholder > *,
.root:focus-within .slotTargetPlaceholder > :global(.__wab_slot) > *,
.root:focus-within .slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > *,
.root:focus-within .slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > :global(.__wab_slot) > *,
.root:focus-within .slotTargetPlaceholder > picture > img,
.root:focus-within .slotTargetPlaceholder > :global(.__wab_slot) > picture > img,
.root:focus-within .slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  opacity: 0.3;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
.svgisOpen {
  opacity: 1;
}
.root:hover .svg {
  opacity: 1;
}
.overlay:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1000;
}
.optionsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.option__u537C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.option__eBo70:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
