.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.rootappear {
  background: #f7cf51;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.svgappear {
  display: block;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: left;
  min-width: 0;
}
.textappear {
  display: block;
}
